<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Guesser Page</title>
</head>
<body>
<div class="container">
    <h1>Hello, Guesser</h1>
    {% if not game.actor_username %}
        <p>Waiting for Actor to join...</p>
    {% elif not game.is_active %}
        <p>Waiting for Actor to start the game...</p>
    {% else %}
        <!-- ... guessing interface ... -->
    {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>